.form {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.form label,
.form div {
  width: fit-content;
}

.table > caption {
  text-align: start;
}

.input-error {
  background-color: #d64b4b;
}

.text-error {
  color: #d64b4b;
  display: block;
}
